<ion-header>
  <ion-toolbar>
    <ion-title>
      Probabilidad Y estadistica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card>
        <img  class="tam" src="../../assets/img/img_4.png"/>
        <ion-card-content>
          <ion-card-title>
            Rango
          </ion-card-title>
          <p color="dark">
            En matemáticas, y más específicamente en teoría informal de conjuntos,
            el rango de una función se refiere al codominio o a la imagen de la función,
            dependiendo del uso.
          </p>
          Encuestas (desarrolladores)
          Requisitos funcionales
          requisitos no funcionales

        </ion-card-content>
          <button block ion-button>CREAR CUENTA</button>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
